img {width: 100px;/*setting image size*/
     height: 100px;
     animation-name: iconpulse;
     animation-duration: 0.9s;
     animation-iteration-count: infinite;
     animation-timing-function:unset;
     position: absolute;
     top: 100px;
     left: 100px;
}
@keyframes iconpulse {
    0% {border: 1px;
        border-style: solid;
        border-color: cyan;
        border-radius: 25px;      
    }
    25%{border: 3px;
        border-style: solid;
        border-color: cyan;
        border-radius: 25px;     
    }
    50% {border: 0px;
          border-style: solid;
          border-color:  cyan;
          border-radius: 25px;} 
      
        75%{border: 3px;
            border-style: solid;
            border-color: cyan;
            border-radius: 25px;     
        }
        100% {border: 1px;
              border-style: solid;
              border-color:  cyan;
              padding: 20px;
              border-radius: 25px;
            }
    
}
